/* Reset  */
@import url("/css/fonts.css");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* root variable */
html {
  font-size: 62.5%;
  /* 10px */
}
body {
  color: #000;
  font-size: 1.4rem;
  /* 14px */
  line-height: 1.7;
}
html,
body,
p {
  text-size-adjust: none !important;
  -webkit-text-size-adjust: none !important;
  -moz-text-size-adjust: none !important;
  -ms-text-size-adjust: none !important;
}
h1,
h2,
h3 {
  color: #000;
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
}
.day {
  background: #eee;
  color: black;
}
.night {
  background: #333;
  color: white;
}
/* buttons */
.btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  margin: 1rem 0;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
}
.btn--primary {
  background-color: #ff5722;
  color: #fff;
}
.btn--secondary {
  background-color: #ffa589;
  color: #fff;
}
.btn--block {
  width: 100%;
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 2rem;
  }
}
/*start NAVBAR */
.main-header {
  background-color: #f8f8f8;
}
@media (prefers-color-scheme: light) {
  .main-header {
    background: #a1a1a1;
    color: #ffffff;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}
.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}
.nav__expanded .nav__list {
  max-height: 100vh;
  opacity: 1;
}
.nav__item {
  margin-top: 1rem;
  border-bottom: 1px solid #ccc;
}
.nav__item a {
  text-decoration: none;
  color: #444;
  display: block;
  padding: 0.5rem 0;
  transition: all 0.4s ease-out;
}
.nav__item a:hover {
  color: #ff5722;
}
.nav__item.cta {
  font-size: 1.4rem;
  border: 0;
}
.nav__item.cta a {
  color: #fff;
  font-size: 1.4rem;
}
.nav__item.cta a:hover {
  color: #f8f8f8;
  background: #ffa589;
}
.nav__item .btn {
  padding: 1rem 3rem;
}
.nav__toggler {
  cursor: pointer;
}
.nav__expanded .bar-one {
  transform: rotate(-45deg) translate(-9px, 6px);
  margin: 8px 0;
}
.nav__expanded .bar-two {
  opacity: 0;
  transform: translateX(-20px);
}
.nav__expanded .bar-three {
  transform: rotate(45deg) translate(-8px, -8px);
  margin: 8px 0;
}
@media screen and (min-width: 768px) {
  .nav {
    padding: 0 2rem;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    width: auto;
    opacity: 1;
    max-height: 100%;
  }
  .nav__item {
    margin-right: 2rem;
    margin-top: 0;
    font-size: 1.5rem;
    border: 0;
  }
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}
/*end NAVBAR */
